<!DOCTYPE html>
<html>
<title>Browse Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">

<title>Found in Time Recommendations </title>
    
  
<!-- Top header -->
<header class="w3-container w3-large w3-black">
<div class="w3-row">
    <a href="http://localhost:5000/" class="w3-left w3-button">Found in Time</a>
    </div>
</header>

<h2> </h2>
    
<div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="{{filename}}" style="height:300px;">    
      </div>
    </div>
  
    <div class="w3-col l3 s6" style="padding-left: 5cm">
      <div class="w3-container">
        <div class="w3-display-container">
            <img src="{{ban}}" style="height:300px;text-align:right">
        </div>
      </div>
     </div>    
</div> 
    
    
<h2> Recommendations </h2>
  <!-- Product grid -->
  <div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="{{rec_list[0][1]}}" style="height:300px;">
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[0][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[0][0]}}" class="w3-bar-item w3-button">More Like This</a>
        </div>      
      </div>
      <div class="w3-container">
        <img src="{{rec_list[4][1]}}" style="height:300px;">
          <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[4][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[4][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>  
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="{{rec_list[1][1]}}" style="height:300px;">
          <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[1][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[1][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
        </div>
      </div>
      <div class="w3-container">
        <img src="{{rec_list[5][1]}}" style="height:300px;">
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[5][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[5][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="{{rec_list[2][1]}}" style="height:300px;">
          <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[2][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[2][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="{{rec_list[6][1]}}" style="height:300px;">
            <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[6][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[6][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
        </div>
      </div>
    </div>
      
  <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="{{rec_list[3][1]}}" style="height:300px;">
          <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[3][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[3][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
      </div>
      <div class="w3-container">
        <img src="{{rec_list[7][1]}}" style="height:300px;">
          <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="{{rec_list[7][2]}}" class="w3-bar-item w3-button">Learn More</a>
            <a href="{{rec_list[7][0]}}" class="w3-bar-item w3-button">More Like This</a>
          </div>
      </div>
    </div>
  </div>
